h1{
    font-size: 50px;
}

.container{
    margin: auto;
    width: 80%;
}

body{
    background-image: url(../img/groovepaper.png);
}

.character{
    border: solid, 5px, black;
    padding: 10px;
}

#character-container{
    margin: auto;
    width: 50%;
    text-align: center;
}

.jumbotron{
    text-align: center;
}