<!DOCTYPE html>
<html>
 
<head>
    <title>Create New Character</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
 
<body>
   <div class= "container">
         <div class="jumbotron">
        <h1 class="display-4">Character Generator </h1>
        <p class="lead">Enter stats here. Don't worry; the site will calculate your modifiers for you! Don't forget to save your character before returning to the dashboard. </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn" href="./dashboard" role="button">Return to Dashboard</a>
        </p>
        </div>


<form id="charForm">
  <div class="form-group">
    <label for="playerName">Player Name</label>
    <input type="text" class="form-control" id="playerName">
  </div>
  <div class="form-group">
    <label for="characterName">Character Name</label>
    <input type="text" class="form-control" id="characterName">
  </div>
  <div class="form-group">
    <label for="class">Class</label>
    <select class="form-control" id="class">
      <option>Barbarian</option>
      <option>Wizard</option>
      <option>Rogue</option>
      <option>Cleric</option>
      <option>Bard</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Race">Race</label>
    <select class="form-control" id="race">
      <option>Human</option>
      <option>Dwarf</option>
      <option>Orc</option>
      <option>Elf</option>
      <option>Halfling</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Alignment">Alignment</label>
    <select class="form-control" id="alignment">
      <option>Lawful Good</option>
      <option>Neutral Good</option>
      <option>Chaotic Good</option>
      <option>Lawful Neutral</option>
      <option>True Neutral</option>
      <option>Chaotic Neutral</option>
      <option>Lawful Evil</option>
      <option>Neutral Evil</option>
      <option>Chaotic Evil</option>
    </select>
  </div>
  <div class="form-group">
    <label for="background">Background</label>
    <select class="form-control" id="background">
      <option>Acolyte</option>
      <option>Criminal/ Spy</option>
      <option>Folk Hero</option>
      <option>Noble</option>
      <option>Sage</option>
      <option>Soldier</option>
    </select>
  </div>
  <label for="stats">Stats</label>
   <div class="form-row">
    <div class="col-lg-2">
      <input type="number" class="form-control" id="strength" placeholder="Strength">
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" id="dexterity" placeholder="Dexterity">
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" id="constitution" placeholder="Constitution">
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control"id="intelligence" placeholder="Intelligence">
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" id="wisdom" placeholder="Wisdom">
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" id="charisma" placeholder="Charisma">
    </div>
  </div>
  <div class="form-group">
    <label for="skill1">Skill #1</label>
    <select class="form-control" id="skill1">
     <option>Acrobatics</option>
     <option>Animal Handling</option>
     <option>Arcana</option>
      <option>Athletics</option>
      <option>Deception</option>
      <option>History</option>
      <option>Insight</option>
      <option>Intimidation</option>
      <option>Investigation</option>
      <option>Medicine</option>
      <option>Nature</option>
      <option>Perception</option>
      <option>Performance</option>
      <option>Persuasion</option>
      <option>Religion</option>
      <option>Sleight of Hand</option>
      <option>Stealth</option>
      <option>Survival</option>
    </select>
  </div>
  <div class="form-group">
    <label for="skill2">Skill #2</label>
    <select class="form-control" id="skill2">
        <option>Acrobatics</option>
     <option>Animal Handling</option>
     <option>Arcana</option>
      <option>Athletics</option>
      <option>Deception</option>
      <option>History</option>
      <option>Insight</option>
      <option>Intimidation</option>
      <option>Investigation</option>
      <option>Medicine</option>
      <option>Nature</option>
      <option>Perception</option>
      <option>Performance</option>
      <option>Persuasion</option>
      <option>Religion</option>
      <option>Sleight of Hand</option>
      <option>Stealth</option>
      <option>Survival</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="backstory">Character Backstory</label>
    <textarea class="form-control" id="backstory" rows="5"></textarea>
  </div>
   <button type="submit" class="btn btn-primary" id="submitButton" >Save Character</button>
</form>

</div>

</body>
</html>