<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Your Characters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to your Dashboard! </h1>
            <p class="lead">Create a new character, or view previously created characters using the buttons below! </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="./new" role="button">Create a New Character</a>
                <a class="btn btn-primary btn-lg" role="button" id="view">See Characters</a>
                <a class="btn btn-primary btn-lg" href="./logout" role="button">Logout</a>

            </p>
        </div>


        <div id="character-container"> </div>





    </div>
    <!-- container end div -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/dashboard.js"></script>

</body>

</html>