<!DOCTYPE html>
<html>
 
<head>
    <title>Your Characters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="/js/dashboard.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    
</head>
 
<body>
   <div class= "container">

    
<a class="btn btn-primary btn-lg" href="./new" role="button">Create a New Character</a>
<a class="btn btn-primary btn-lg" role="button" id="view">See Characters</a>

<div id="character-container">





</div>






   </div> <!-- container end div -->
  
</body>
 
</html>