<!DOCTYPE html>
<html>
 
<head>
    <title>Dungeons and Dragons Level 1 Character Builder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
 
<body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Dungeons and Dragons Level 1 Character Builder</h1>
        <hr class="my-4">
        <p class= "text-center">To get started, please sign in to your account or sign up!</p>
        <div class="d-flex justify-content-center" >
            <a class="btn btn-primary btn-lg" href="./signin" role="button">Sign In</a>
            <a class="btn btn-primary btn-lg" href="./signup" role="button">Sign Up</a>
        </div>
      </div>
    </div>
 
</body>
 
</html>