<!DOCTYPE html>
<html>
 
<head>
    <title>Sign In to Your Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
 
<body>

<div class="container">
<form id="signin" name="signin" method="post" action="signin">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="text form-control" name="email" placeholder="Enter email">
    </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary" value="Sign In">Sign In</button>
</form>
</div>


 
</body>
 
</html>