<!DOCTYPE html>
<html>

<head>
    <title>Sign Up for an Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <div class="container">
        <form id="signup" name="signup" method="post" action="/signup">
            <div class="form-group">
            <label for="email">Email Address</label>
            <input class="text" name="email" type="email" />
            </div>
            <div class="form-group">
            <label for="firstname">Firstname</label>
            <input name="firstname" type="text" />
            </div>
            <div class="form-group">
            <label for="lastname">Lastname</label>
            <input name="lastname" type="text" />
            </div>
            <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="text" />
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" />
            </div>
            <input class="btn" type="submit" value="Sign Up" />
        </form>
        <a class="btn btn-primary btn-lg" href="./signin" role="button">Already have an account? Sign In</a>

    </div>
</body>


</html>